<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Text In Picture
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Text In Picture</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-text>
      Simple application to write your message in picture and send it to social media and it <strong>Open
        Source</strong>!
    </ion-text>

    <ion-list>
      <ion-item href="https://github.com/xlmnxp/TextInPicture" target="_blank">
        <ion-icon name="logo-github"></ion-icon>&nbsp;View Github
      </ion-item>
      <ion-item href="https://sy.sa/" target="_blank">
        <ion-icon name="globe-outline"></ion-icon>&nbsp;View Developer Website
      </ion-item>
      <ion-item href="https://twitter.com/xlmnxp" target="_blank">
        <ion-icon name="logo-twitter"></ion-icon>&nbsp;View Developer Twitter
      </ion-item>
    </ion-list>
  </div>
</ion-content>